@font-face {
            font-family: orchidee;
            src: url("./assets/fonts/ORCHL.TTF");}
* {
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: 500;
    line-height: 142.6%;
    color: rgb(255, 255, 255);
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    /* overflow: hidden; */
}
h2{
    text-align:center;
}
.header {
    width: 100%;
    height: 396px;
    display: flex;
    /* position: absolute; */
    /* margin: 1%; */
    z-index: +1;
    background-color: rgb(82, 82, 82);
}
.header-quali{}
.header-about{}

.header-titre {
    font-family:orchidee;
    shadow:2px grey; 
}
.header-nav-bar {
    display:flex;
    justify-content:center;
}
.header-nav-bar-about {
}
.header-nav-bar-accueil {
}
.header-nav-bar-realisations {
}
.header-nav-bar-services {
}
.header-cadre {
    position: fixed;
    display: flex;
    align-items: baseline;
}
.header-cadre-image-photo-profil {
    position: absolute;
}

.header-cadre-circlePhoto {
    width: 350px;
    height: 350px;
    z-index: +2;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 25px;
    left: 90px;
    margin-top: 0;
    margin-left: 0;
    border: 15px solid #e78515;
  }
  
  .header-cadre-circlePhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  
  .header-cadre-circlePhoto:hover img {
    transform: scale(1.2);
  }
  .header-cadre-coord {
      width: 500px;
      height: 500px;
      /* position: absolute; */
    z-index: +1;
    top: 200px;
    left: 345px;
    margin-top: -75px;
    margin-left: -75px;
      border-radius: 50%;
      background-color: #e78515;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    
    .header-cadre-coord h2, .header-cadre-coord p {
      margin: 5px;
    }
.header-reseaux {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}
.header-reseaux-logo {
    width: 3%;
    /* position: absolute; */
}

.github {
}
.linkedin {
}
.main{
    display: grid;
    grid-template-columns: 0.76fr 0.33fr 2fr;
    gap: 20px;
}

.grid-item {
    padding: 20px;
  }

  .col1 {
    grid-column: 1 / 2;
  }
  
  .col2 {
    grid-column: 2 / 3;
    background-color: #eba91b;
  }
  
  .col3 {
    grid-column: 3 / 4;
    background-color: #5e5b5b;
    /* margin-right: 20px; */
  }

  .main-sidebar {
    /* position: absolute; */
    z-index: -1;
    /* width: 530px; */
    height: 100%;
    background-color: #423931;
    padding: 20px;
  }
  
  .main-sidebar-logo {
    margin-bottom: 20px;
  }
  
  .main-sidebar-logo h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .main-sidebar-logo ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .main-sidebar-logo li {
    margin-bottom: 5px;
  }
  
  .main-sidebar-logo img {
    width: 30px;
    height: 30px;
  }
.main-sidebar-langues{
    color: white;
}
.main-sidebar-ref{
    color: white;
}
.main-sidebar-divers{
    color: white;
}

  .corps {
    /* width: 100%; */
    /* height: 800px; */
    /* background-color: grey; */
}
.corps-learning {
    text-align:center;
    width: 100%;
    height: 300px;
    background-color: rgb(51, 50, 50);
}
.corps-exp {
    text-align:center;
    width: 100%;
    height: 77%;
    background-color: rgb(83, 82, 82);
}
.footer {
    background-color: black;
    color:white;
}
.footer-legal {
}
.footer-logo {
}