@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ORCHIDEEL";
    src: url("../public/fonts/ORCHL___.TTF");
};

@font-face {
    font-family: "ORCHIDEEM";
    src: url("../public/fonts/ORCHM___.TTF");
};