@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ORCHIDEEL";
    src: url("./assets/fonts/ORCHL.TTF");
};

@font-face {
    font-family: "ORCHIDEEM";
    src: url("./assets/fonts/ORCHM.TTF");
};